﻿<div class="jumbotron text-center">
    <h1>404</h1>
    <p>Ops, a página que você procura não pode ser encontrada...</p>
    <br />
    <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Procurar..." />
            <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" ng-click="click()" type="button">Ir!</button>
            </span>
        </div>
    </div>
    <br /><br />
</div>