<div class="panel panel-default col-md-offset-2 col-md-6 animated flipInY">
    <div class="panel-heading text-center">
        <img src="content/img/logo.png" class="img-responsive" />
    </div>
    <div class="panel-body">
        <h3>Seja bem vindo!</h3>
        <p>
            Embora seu cadastro tenha sido efetuado com sucesso, seu status continua como inativo
            até você confirmar seu E-mail.
        </p>
        <p>
            Ao término do seu cadastro, foi enviado um E-mail para o endereço informado no cadastro
            com as informações para ativação do mesmo.
        </p>
        <p>
            Siga atentamente as instruções no E-mail para realizar a ativação do seu cadastro e poder acessar
            todo conteúdo deste aplicativo!
        </p>
        <p>
            Não se esqueça de checar seu lixo eletrônico, algumas vezes o E-mail de ativação pode ir para lá!
        </p>
        <p>
            Até breve,<br />
            <br />
            <small>
                <strong>André Baltieri</strong>
            </small>
        </p>
        <p class="text-center">
            <a href="/account/login" class="btn btn-primary">Iniciar meus Estudos</a>
        </p>
    </div>
</div>