<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Fechar</span></button>
    <h4 class="modal-title">Seja bem vindo</h4>
</div>
<div class="modal-body">
    Seu cadastro foi efetuado com sucesso, porém sua conta ainda está inativo!<br />
    <br />
    Um E-mail foi enviado para <strong>{{ signupModel.email }}</strong> com as instruções para ativação da conta.<br />
    Siga atentamente as instruções para ativar seu cadastro.<br />
    <br />
    Até breve!
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$close">Fechar</button>
</div>